.luz {
    box-shadow: -1px -1px 52px 31px rgba(248, 231, 231, 0.3) !important;
}

.no-luz {
    box-shadow: -1px -1px 52px 31px rgba(216, 169, 169, 0.3) !important;
}

.caja {
    width: 70px;
    height: 70px;
}